<html ng-app='chat'>
<head>
    <title>Chat</title>

    <!-- angular modules -->
    <script src='lib/angular/angular.js'></script>
    <script src='lib/angular-cookies/angular-cookies.js'></script>
    <script src='lib/angular-ui-router/angular-ui-router.js'></script>

    <!-- bootstrap modules -->
    <script src='lib/angular-bootstrap/ui-bootstrap-tpls.js'></script>
    <link rel='stylesheet' type='text/css' href='lib/bootstrap-css-only/css/bootstrap.css'>

    <!-- angular application -->
    <script src='app.js'></script>
    <script src='directive/common.js'></script>

    <link rel='stylesheet' type='text/css' href='css/main.css'>
</head>
<body ng-controller='ChatController'>
    <table class='body'>
        <tbody>
            <tr class='header'>
                <td colspan='2'>
                    HEADER
                </td>
            <tr class='chat'>
                <td>
                    <div class='body' chat-auto-scroll>
                        <div class='message' ng-repeat='message in history'>
                            <span>{{::getCurrentTime() | date : "HH:mm:ss" }}</span>
                            <span>[ {{message.from}}</span>
                            <span ng-show='message.to'>to {{message.to}}</span>
                            <span>]</span>
                            <span>{{message.text}}</span>
                        </div>
                    </div>
                <td class='users'>
                    <div class='message' ng-repeat='user in userList'>
                        <span>{{user}}</span>
                    </div>
                </td>
            <tr class='footer'>
                <td colspan='2'>
                    <table class="message-panel">
                        <tbody>
                            <tr ng-show="isAuthenticated">
                                <td>
                                    <input ng-model='message' ng-enter='sendMessage()' type='text' class='form-control' placeholder='Message'>
                                </td>
                                <td class='send'>
                                    <button class='btn btn-default' type='button' ng-enter ng-click='sendMessage()'>
                                        <span class='glyphicon glyphicon-send'></span> Send
                                    </button>
                                </td>
                            </tr>
                            <tr ng-show="!isAuthenticated">
                                <td>
                                    <input ng-model='login' ng-enter='loginHandler()' type='text' class='form-control' placeholder='Login'>
                                </td>
                                <td class='send'>
                                    <button class='btn btn-default' type='button' ng-click='loginHandler()'>
                                        <span class='glyphicon glyphicon-user'></span> Login
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>